<table>
  <tbody>
    <tr>
      <th><%= l(:field_notification_delay) %></th>
      <td>
        <%= number_field_tag 'settings[notification_delay]', 
                            @settings['notification_delay'], 
                            min: 0, max: 300, step: 1,
                            class: 'small' %>
        <em class="info"><%= l(:text_notification_delay_help) %></em>
      </td>
    </tr>
    
    <tr>
      <th><%= l(:field_max_resends_per_day) %></th>
      <td>
        <%= number_field_tag 'settings[max_resends_per_day]', 
                            @settings['max_resends_per_day'], 
                            min: 0, max: 100, step: 1,
                            class: 'small' %>
        <em class="info"><%= l(:text_max_resends_help) %></em>
      </td>
    </tr>
    
    <tr>
      <th><%= l(:field_audit_log_enabled) %></th>
      <td>
        <%= check_box_tag 'settings[audit_log_enabled]', 'true', 
                         @settings['audit_log_enabled'] == 'true' %>
        <em class="info"><%= l(:text_audit_log_help) %></em>
      </td>
    </tr>
  </tbody>
</table>
